<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alvis.exam.repository.DeptMapper">


    <resultMap id="BaseResultMap" type="com.alvis.exam.domain.Dept">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="INTEGER" property="name" />
    </resultMap>


    <sql id="Base_Column_List">
        id, name
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_dept
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="deptPage" resultType="com.alvis.exam.domain.Dept">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_dept
        <where>
            and deleted=0
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
        </where>
    </select>


</mapper>
