<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alvis.exam.repository.StatisticsMapper">

    <select id="dailyReport" parameterType="com.alvis.exam.viewmodel.api.statistics.ReportRequestVM" resultType="com.alvis.exam.viewmodel.api.statistics.ReportResponseVM">
        SELECT
            user_id userId,
            user_name userName,
            MIN( spend_time ) spendTime,
            error_count errorCount
        FROM (SELECT * FROM t_exam_main_log WHERE date=#{date} AND status=1 ORDER BY error_count,spend_time LIMIT 1000) t
        GROUP BY t.user_id
    </select>

    <select id="monthlyReport" resultType="com.alvis.exam.viewmodel.api.statistics.MonthlyReportResponseVM">
        SELECT
            user_id userId,
            user_name userName,
            COUNT(0) changeCount,
            MIN( spend_time ) spendTime,
            SUM(error_count) sumErrorCount,
            AVG(error_count) avgErrorCount,
            dept_name deptName,
            error_count errorCount
        FROM (SELECT * FROM t_exam_main_log WHERE YEAR = #{year} AND month=#{month} AND status=1 ORDER BY error_count,spend_time LIMIT 1000) t
        GROUP BY t.user_id
    </select>
    <select id="deptReport" resultType="com.alvis.exam.viewmodel.api.statistics.DeptReportResponseVM">
        SELECT
            dept_name deptName,
            AVG( spend_time ) spendTime,
            AVG(error_count) errorCount
        FROM t_exam_main_log WHERE date BETWEEN #{startDate} AND #{endDate} AND status=1
        GROUP BY dept_id
        ORDER BY errorCount,spend_time
    </select>


    <select id="wrongQuestionReport" resultType="com.alvis.exam.viewmodel.api.statistics.WrongQuestionResponseVM">
        SELECT question_id,SUM(CASE WHEN t.iscorrect=0 THEN 1 ELSE 0 END) errorCount, COUNT(0) sumCount
        FROM t_exam_sub_log t
        WHERE date BETWEEN #{startDate} AND #{endDate}
        GROUP BY question_id;
    </select>


</mapper>
