<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alvis.exam.repository.TExamPaperMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.alvis.exam.domain.TExamPaper">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="subject_id" property="subjectId" />
        <result column="paper_type" property="paperType" />
        <result column="grade_level" property="gradeLevel" />
        <result column="score" property="score" />
        <result column="question_count" property="questionCount" />
        <result column="suggest_time" property="suggestTime" />
        <result column="limit_start_time" property="limitStartTime" />
        <result column="limit_end_time" property="limitEndTime" />
        <result column="frame_text_content_id" property="frameTextContentId" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="deleted" property="deleted" />
        <result column="task_exam_id" property="taskExamId" />
        <result column="flag" property="flag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, subject_id, paper_type, grade_level, score, question_count, suggest_time, limit_start_time, limit_end_time, frame_text_content_id, create_user, create_time, deleted, task_exam_id,flag
    </sql>

    <insert id="insertData">
        insert into t_exam_paper (name,flag) values(#{name},#{flag})
    </insert>
</mapper>
