<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alvis.exam.repository.TTextContentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.alvis.exam.domain.TTextContent">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, content, create_time
    </sql>

    <insert id="insertData">
        insert into t_text_content (choose_or_answer,flag) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.content},
            #{item.flag}
            )
        </foreach>
    </insert>

    <insert id="inserttextContentData">
        insert into t_text_content (question,flag) values(#{name},#{flag})
    </insert>

    <update id="updateQuestion">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update t_text_content
            <set>
                question = #{item.name}
            </set>
            where id = #{item.id}
        </foreach>
    </update>
</mapper>
